.music-player{
    display:flex;
    flex-direction: column;
    background-color: midnightblue;
    width: 276px;
    height: 246px;
    margin-top:-1px;
    border-radius: 4px;
    color:white;
}
  
.music-player h3{
  align-self: center;
}

.image-details{
  display:flex;
  height:70%;
}

.image-container{
  display:flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 50%;
}

.image-container img{
  margin-left:-20px;
  margin-top:10px;
  height: 100px;
  width: 100px;
}

.image-details .details{
  width: 60%;
  margin-top:30px;
  margin-left:-10px;
}

.image-details .details h4{
  font-weight: bold;
  font-size: 22px;
  /* font-family: monospace; */
}

.image-details .details h5{
  margin-left: 5px;
  margin-top:15px;
}

.player{
  display:flex;
  align-items: center;
  height:40%;
  margin-left: 5px;
}

.player h3{
  margin-top: 5px;
  cursor: pointer;
}

.player-details{
  margin-top:20px;
  width:60%;
}

.player-div{
  width: 98%;
  border: 2px solid black;
  box-shadow: inset 0 0 5px #000000;
  margin-right:5px;
  border-radius:8px;
  cursor: pointer;
}

.finished {
  width:0%;
  background-color: green;
  height:6px;
  margin-right:5px;
  border-radius:8px;
}

.songs-list{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: white;
  width: 274px;
  height: 246px;
  margin-top:-1px;
  border-radius: 4px;
}

.songs-list .list-group{
  display:flex;
  flex-direction: column;
  width: 274px;
  height: 90%;
  overflow-y:scroll;
  padding: -50px;
}

.songs-list .list-group .list-group-item{
  min-height: 28%;
  display:flex;
  justify-content: space-between;
}

.songs-list .list-group .list-group-item button{
  float:right;
}